@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --bg-color: #1b1818;
  --text-color: #f5f5f5;
  --highlight-color: #f15025;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mukta, Arial;
}
body {
  background-color: #1b1818;
  color: whitesmoke;
}
