@import url("./global.css");

.container {
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ddiv {
  text-align: center;
  display: grid;
  padding: 20px 0;
}

.ddiv > span:first-child {
  font-size: 3em;
  margin-bottom: 8px;
}

.ddiv > span:last-child {
  color: var(--highlight-color);
}
