@import url("./global.css");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
}
.container > * {
  font-family: "Times New Roman", Times, serif;
}
.container > h2 {
  width: 100%;
  font-size: 3.45em;
  font-weight: 900;
  text-align: center;
  background: linear-gradient(
    to right,
    var(--text-color),
    var(--highlight-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  font-size: 1.25em;
  text-align: center;
  letter-spacing: 0.1rem;
  width: 100%;
}
